<div class="container">
<div class="row">
<div class="col-md-7 left-box">
<div class="row left-box-title">
<div class="col-md-12">
Search information about NEFT enabled bank Branches
</div>
</div>
<div class="row left-box-icon-div">
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-refresh"></i> June 04, 2016
	</div>
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-bank"></i> 150 Totals Banks
	</div>
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-code-fork"></i> 112743 Branches
	</div>
</div>
<div class="row" style="padding:40px">
<div class="col-md-8 col-md-offset-2">
<form>
	<div class="form-group">
	<select class="form-control" ng-options="bank.bank_name for bank in banksname.data" ng-model="bank_name" ng-change="send_bank_name_id()">
		<option value="" disabled>Select bank name</option>
	</select>
	</div>

	<div class="form-group">
	<select class="form-control" ng-options="states.state for states in states.data" ng-model="state_name" ng-change="send_bank_and_state_id()">
		<option value="" disabled>Select state</option>
	</select>
	</div>

	<div class="form-group">
	<select class="form-control" ng-options="dist.district for dist in districts.data" ng-model="district_name" ng-change="send_bank_state_and_branch_id()">
		<option value="" disabled>Select district</option>
	</select>
	</div>

	<div class="form-group">
	<select class="form-control" ng-options="br.branch for br in branch.data" ng-model="branch_name" ng-change="send_bank_branch_id()">
		<option value="" disabled>Select branch name</option>
	</select>
	</div>
	<!-- <button class="btn btn-default" ng-click="reset_field()">Reset</button> -->
	
	<!-- <div class="form-group">
	<select class="form-control">		
		<option disabled selected>Select bank name</option>
		<option ng-repeat="bank in banksname.data" ng-value="bank.id" ng-model="bank.id" ng-change="send_bank_name_id()">{{bank.bank_name}}</option>
	</select>
	</div>
	<div class="form-group">
	<select class="form-control">
		<option disabled selected>Select state</option>
		<option ng-repeat="s in state_names.data">{{s.state}}</option>
	</select>
	</div>
	<div class="form-group">
	<select class="form-control">
		<option disabled selected>Select district</option>
		<option ng-repeat="d in districts.data">{{d.district}}</option>
	</select>
	</div>
	<div class="form-group">
	<select class="form-control">
		<option disabled selected>Select branch name</option>
		<option ng-repeat="b in branchs.data">{{b.branch}}</option>
	</select>
	</div> -->
</form>
</div>
</div>
<h>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		IFSC Code
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].ifsc}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		MICR Code
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].micr}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		Branch
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].branch}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		Address
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].address}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		Contact
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].contact}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		City
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].city}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		District
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].district}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="row output_result">
	<div class="col-md-3 col-xs-4 text-left output_key">
		State
	</div>	
	<div class="col-md-9 col-xs-8 output_value">
		<div id="foo" style="display: inline-block;">{{bank_info.data[0].state}}</div><a ngclipboard data-clipboard-target="#foo" value={{cop_message}}> <i class="fa fa-copy"></i> copy</a>
	</div>
	</div>
</div>
</div>
<hr/>
<div class="row tags">
	<div class="col-md-1 text-right col-xs-1">
	<i class="fa fa-tags"></i> 
	</div>
	<div class="col-md-11 col-xs-11">
	<span ng-repeat="tags in tags_name">{{tags}}</span>
	</div>
</div>
</div>
<div class="col-md-4 col-md-offset-1 right-box">
	Your Welcome
</div>
<!-- <h4>Bank Name : </h4>
	<h4>Bank Address</h4>
	<h4>State</h4>
	<h4>District</h4>
	<h4>Branch Name</h4>
	<h4>Contact</h4>
	<h4>IFSC Code</h4>
	<h4>Branch Code</h4>
	<h4>MICR Code</h4> -->
</div>
</div>