<div class="container">
<div class="row">
<div class="col-md-7 left-box">
<div class="row left-box-title">
<div class="col-md-12">
Search information about NEFT enabled bank Branches
</div>
</div>
<div class="row left-box-icon-div">
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-refresh"></i> June 04, 2016
	</div>
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-bank"></i> 150 Totals Banks
	</div>
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-code-fork"></i> 112743 Branches
	</div>
</div>
<div class="row" style="padding:40px">
<div class="col-md-8 col-md-offset-2">
	<div class="form-group">
	<select class="form-control" ng-options="bank.bank_name for bank in banksname.data | orderBy:'bank_name'" ng-model="bankObj" ng-change="send_bank_name_id()">
		<option value="" disabled>Select bank name</option>
	</select>
	</div>

	<div class="form-group">
	<select class="form-control" ng-options="states.state for states in states.data | orderBy:'state'" ng-model="state_name" ng-change="send_bank_and_state_id()">
		<option value="" disabled>Select state</option>
	</select>
	</div>

	<div class="form-group">
	<select class="form-control" ng-options="dist.district for dist in districts.data | orderBy:'district'" ng-model="district_name" ng-change="send_bank_state_and_branch_id()">
		<option value="" disabled>Select district</option>
	</select>
	</div>

	<div class="form-group">
	<select class="form-control" ng-options="br.branch for br in branch.data | orderBy:'branch'" ng-model="branch_name" ng-change="send_bank_branch_id()">
		<option value="" disabled>Select branch name</option>
	</select>
	</div>
	<!-- <button class="btn btn-default" ng-click="reset_field()">Reset</button> -->
</div>
</div>

<div class="table-responsive" ng-if="showTable">
<hr/>
  <table class="table table-bordered">
    <tr>
    <th>Bank Name</th>
    <td>{{bank_info.data.bank_name}}</td>
    </tr>

    <tr>
    <th>Branch Name</th>
    <td>{{bank_info.data.branch}}</td>

    </tr>

    <tr>
    <th>IFSC Code</th>
    <td>{{bank_info.data.ifsc}}</td>

    </tr>

    <tr>
    <th>MICR Code</th>
    <td>{{bank_info.data.micr}}</td>

    </tr>

    <tr>
    <th>Bank Address</th>
    <td>{{bank_info.data.address}}</td>

    </tr>

    <tr>
    <th>Contact info</th>
    <td>{{bank_info.data.contact}}</td>

    </tr>

    <tr>
    <th>City</th>
    <td>{{bank_info.data.city}}</td>

    </tr>

    <tr>
    <th>District</th>
    <td>{{bank_info.data.district}}</td>

    </tr>

    <tr>
    <th>State</th>
    <td>{{bank_info.data.state}}</td>

    </tr>
  </table>
</div>

<hr/>
<div class="row tags">
	<div class="col-md-1 text-right col-xs-1">
	<i class="fa fa-tags"></i> 
	</div>
	<div class="col-md-11 col-xs-11">
	<span ng-repeat="tags in tags_name">{{tags}}</span>
	</div>
</div>
</div>
<div class="col-md-4 col-md-offset-1 right-box">
	Your Welcome
</div>
<!-- <h4>Bank Name : </h4>
	<h4>Bank Address</h4>
	<h4>State</h4>
	<h4>District</h4>
	<h4>Branch Name</h4>
	<h4>Contact</h4>
	<h4>IFSC Code</h4>
	<h4>Branch Code</h4>
	<h4>MICR Code</h4> -->
</div>
</div>