<h2>{{title_bank_detail}}</h2>
<hr/>
<br/>
<div class="row steps_grid">
<div class="col-md-3 col-xs-6"><span class="steps1">1</span> Select Bank Name</div>
<div class="col-md-3 col-xs-6"><span class="steps2">2</span> Select State Name</div>
<div class="col-md-3 col-xs-6"><span class="steps3">3</span> Select District Name</div>
<div class="col-md-3 col-xs-6"><span class="steps4">4</span> Select Branch Name</div>
</div>
<br/>
			<div class="row home_page">
			<div class="col-md-12">
				<div class="row form-group">
					<div class="col-md-6">
					<ui-select ng-model="bankObj" theme="selectize" title="Choose a person" ng-change="send_bank_name_id(bankObj.id,bankObj.bank_name)">
			            <ui-select-match placeholder="Select Bank Name">{{bankObj.bank_name}}</ui-select-match>
			            <ui-select-choices repeat="item in banksname.data | filter: $select.search">
			              <div ng-bind-html="item.bank_name | highlight: $select.search"></div>
			            </ui-select-choices>
			          </ui-select>
					</div>
				</div>
			</div>
			</div>
			
<!-- <h2>IFSC code by listed banks</h2>
<div class="row bank_name_box">
<div class="col-md-12">
<ul class="bank_list">
<li ng-repeat="name in banksname.data | orderBy:'name'"><a ng-click="send_bank_name_id(name.id,name.bank_name)">{{name.bank_name}}</a></li>
</ul>
</div>
</div> -->