<h2>IFSC code through "select bank name"</h2>
<br/>
<div class="row steps_grid">
<div class="col-md-3 col-xs-6"><span class="steps10">1</span> Select Bank Name <i class="fa fa-check-square-o"></i></div>
<div class="col-md-3 col-xs-6"><span class="steps20">2</span> Select State Name <i class="fa fa-check-square-o"></i></div>
<div class="col-md-3 col-xs-6"><span class="steps3">3</span> Select District Name</div>
<div class="col-md-3 col-xs-6"><span class="steps4">4</span> Select Branch Name</div>
</div>
<br/>
			<div class="row home_page">
			<div class="col-md-12">
				<div class="row form-group">
					<div class="col-md-6">
					Bank Name
					<div class="home_label">{{bankname_on_district}} <a href="#/"><i class="fa fa-edit"></i> change</a></div>
					State
					<div class="home_label">{{state_on_district}} <a href="#/{{bankid_on_district}}/{{bankname_on_district}}"><i class="fa fa-edit"></i> change</a></div>
					<!-- <select class="form-control" ng-options="dist.district for dist in districts.data | orderBy:'district'" ng-model="district_name" ng-change="send_bank_state_and_branch_id(bankid_on_district,bankname_on_district,state_on_district,district_name.district)">
						<option value="" disabled>Select District</option>
					</select> -->

					<ui-select ng-model="district_name" theme="selectize" title="Select District" ng-change="send_bank_state_and_branch_id(bankid_on_district,bankname_on_district,state_on_district,district_name.district)">
			            <ui-select-match placeholder="Select District">{{district_name.district}}</ui-select-match>
			            <ui-select-choices repeat="item in districts.data | filter: $select.search">
			              <div ng-bind-html="item.district | highlight: $select.search"></div>
			            </ui-select-choices>
			          </ui-select>
					</div>
					</div>
				</div>
			</div>
<hr style="border-width:2px"/>
<div class="text-center" style="margin-top:-30px"><span style="border: 2px solid #eee;border-radius: 50%;padding: 5px 7px 4px 5px;background-color: #f95759;color: #fff">OR</span></div>
<h2>IFSC Code From Listed Banks Name</h2>
<div class="row bank_name_box">
<div class="col-md-12">
<ul class="bank_list">
<li ng-repeat="name in districts.data | orderBy:'name'"><a ng-click="send_bank_state_and_branch_id(bankid_on_district,bankname_on_district,state_on_district,name.district)">{{name.district}}</a></li>
</ul>
</div>
</div>