body{
	/*font-family: 'Reem Kufi', sans-serif;*/
	overflow-x: hidden;
	min-height: 900px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Reem Kufi', sans-serif;
}
.navbar{
	background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
}
.navbar-brand{
	font-family: 'Reem Kufi', sans-serif;
	font-size:1.4em;
}
.navbar-nav a{
	font-family: 'Reem Kufi', sans-serif;
}
.container-fluid{
	padding:0px;
}
.home_page{
	padding:20px 20px 20px 0px;
}
.form-control{
    border-radius: 0px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.1em;
    padding: 4px 10px;
    box-shadow: none;
    border: 2px solid #eee;
}
.bank_name_box{
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.2em;
}
.bank_list a{
	border:2px solid #eee;
}
.bank_list li{
	margin:10px 0px 10px 0px;
	list-style-type: none;
}
hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.home_label{
	border:2px solid #eee;
	padding: 6px 14px;
	margin-bottom: 10px;
	/*background-color: #f95759;*/
	background-color: #eee;
	/*color:#fff;*/
	/*background-color: #106CC8;*/
}
.steps1{
	padding: 2px 11px 1px 11px;
	background-color: #fff;
    border-radius: 50%;
    background-color: #eee;
    font-family: 'Reem Kufi', sans-serif;
}
.steps10{
	padding: 2px 11px 1px 11px;
	background-color: #87D37C;
	color:#010101;
    border-radius: 50%;
    font-family: 'Reem Kufi', sans-serif;
}
.steps2,.steps3,.steps4{
	padding: 2px 10px 1px 10px;
	background-color: #fff;
    border-radius: 50%;
    font-family: 'Reem Kufi', sans-serif;
    background-color: #eee;
}
.steps20,.steps30,.steps40{
	padding: 2px 10px 1px 10px;
	background-color: #87D37C;
	color:#010101;
	font-family: 'Reem Kufi', sa
	ns-serif;
    border-radius: 50%;
}
.steps_grid .col-md-3,.steps_grid .col-xs-6{
	padding: 10px;
	font-family: 'Reem Kufi', sans-serif;
	
}
.or_class{
	border: 2px solid #eee;
	padding: 5px 7px 4px 5px;
	background-color: #eee;
	font-family: 'Reem Kufi', sans-serif;
}
p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 27px;
    font-family: 'PT Sans', sans-serif;
}