body{
	font-family: 'Reem Kufi', sans-serif;
	overflow-x: hidden;
	min-height: 900px;
}
.navbar{
	background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
}
.navbar-brand{
	font-family: 'Reem Kufi', sans-serif;
	font-size:1.4em;
}
.navbar-nav a{
	font-family: 'Reem Kufi', sans-serif;
}
.container-fluid{
	padding:0px;
}
.home_page{
	padding:20px;
}
.form-control{
    border-radius: 0px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.1em;
    padding: 4px 10px;
    box-shadow: none;
    border: 2px solid #eee;
}
.bank_name_box{
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.2em;
}
.bank_list a{
	border:2px solid #eee;
}
.bank_list li{
	margin:10px 0px 10px 0px;
	list-style-type: none;
}